<div class="container text-center">
  <div class="grey-box">
    <h2>This template is built with <i class="fa fa-heart"></i> by</h2>
    <div class="horizonital-images">
      <ul class="list-inline">
        <li class="name ">
          <%= image_tag "Wouter.jpeg", class: "img-circle pictures" %>
          <p>Wouter Verhaeghe</p>
          <a href="github.com/zeegeuze"><i class="fab fa-github">zeegeuze</i></a>
        </li>
        <li class="name ">
          <%= image_tag "39671858.jpeg", class: "img-circle pictures" %>
          <p>Nicolas Debray</p>
          <a href="github.com/ndebray"><i class="fab fa-github">ndebray</i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
